*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --light-blue: #B5DDFF;
    --black: #000000;
    --blue: #0084FD;
    --yellow: #FDC15F;
    --purple: #9792E4;
    --dark-gray: #333333;
}

.debug {
    border: 1px solid red;
    min-height: 50px;
}

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;

}

html{
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-width: 300px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/* ! Header */
header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 4rem;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.main-menu{
    /* position: relative; */
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    z-index: 90;
    position: absolute;
    background-color: var(--blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    list-style: none;
    border: 2px solid var(--dark-gray);
  }

  .dropdown-content a {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .main-menu:hover .dropdown-content {
    display: block;
  }

  .main-menu:hover .overlay{
    display: block;
  }



  .dropdown-content a:hover {
    background-color: var(--light-blue);
    color: var(--black);
    transition: color 0.3s;
    transition: background-color 0.9s;
}

.overlay{
    background-color: #0083fd73;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    
    width: 100vw;
    height: 100vh;
}




.hamburger{
    font-size: 2rem;
    margin: 0 0 0 5rem;
    position: relative;
    
}


.main-menu ul {
    display: none;
}
 

.main-menu ul li{
    padding: 0 1rem;
}

.main-menu a {
    color: var(--white);
    text-decoration: none;
}



/* ! Main */
#planning,
#features,
#get-started {
    background-color: var(--purple);
    padding: 2.5rem 3rem;
}


/* intro section */
#intro, #testimonials, #about-us {
    padding: 2.5rem 3rem;
}

#intro{
    padding-top: 120px;
}

.card {
    background-color: var(--light-blue);
    margin-bottom: 1.5rem;
    padding: 1.5rem 3rem 0 3rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
    min-width: 30px;
}

.btn {
    color: var(--white);
    background-color: var(--blue);
    border-radius: 2rem;
    padding: 0.5rem 3rem;
    text-decoration: none;
    display: inline-block;
}

#btn-nav{
    background-color:var(--white);
    border-radius: 12px;
    color: var(--black);
    padding: 1px 2px;
    text-align: center;
    margin: 1rem 1rem;

}

.card img {
    width: 20rem;
    display: block;

}

#intro .card:first-child p {
    text-align: left;
}

h3 {
    color: var(--blue);
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

p {
    padding-bottom: 1.5rem;

}

#intro p {
    text-align: center;
}

.icone-intro {
    color: var(--blue);
    font-size: 4rem;
}

#phone{
    max-width: 250px;
}

/* fine intro */

/* strategic section */

#planning-card {
    background-color: var(--purple);
    color: var(--white);
    padding: 0;
    align-items: flex-start;
}

#planning h3 {
    color: var(--white);
    text-align: left;
    font-size: 2.2rem;

}

#planning-card-white {
    color: var(--black);
    background-color: var(--white);
    align-items: center;
    text-align: center;
}

#planning-card-white>h3 {
    color: var(--black);
}

.btn-arrow {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--black);
    line-height: 3rem;
}

/* fine planning */

/* testimonials */

#top-testimonials{
    color: var(--black);
    background-color: var(--white);
    align-items: center;
    text-align: center;
}

#testimonials h3 {
    color: var(--purple);
    font-size: 2.5rem;
}


#testimonial-card {
    background-color: var(--purple);
    color: var(--white);
    padding: 1.5rem;
    text-align: center;
}


#testimonial-card p {
    padding: 0;
}

.img-container-testimonials {
    width: 10rem;
    height: 10rem;

    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.test-one {
    background-image: url('../img/testimonial1.jpg');
}

.test-two {
    background-image: url('../img/testimonial2.jpg');
}


.test-three {
    background-image: url('../img/testimonial3.jpg');
}

/* ------ */

/* features */
#features h2 {
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
}

#features-card {
    margin-top: 3rem;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    background-color: var(--white);
}

#features-card h3,
h4 {
    color: var(--purple);
}

#features-card h3 {
    font-size: 4rem;
}

#features-card h4 {
    font-size: 1.5rem;
}

#features-card p {
    padding: 0;
}

#btn-features {
    background-color: var(--purple);
}

/* fine features */

/* about us */
.wrapper-us {
    margin: 1.5rem 0;
    padding: 2rem;
}

.wrapper-us h2 {
    color: var(--purple);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about-us-img {
    width: 10rem;
    height: 10rem;
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 2rem 0;
    position: relative;
    
}

.fa-us {
    position: absolute;
    left: 7rem;
    top: -1rem;
    color: var(--purple);
    z-index: 100;
    font-size: 5rem;
}

#about-us-btn {
    background-color: var(--purple);
    padding: 0.5rem 0.5rem;
    
}

#about-us h3 {
    color: var(--purple);
    margin: 1.5rem 0;
}

/* fine about-us */

/* get-started */
#get-started {
    text-align: center;
    color: var(--white);
}

.get-flex {
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    padding: 3rem;
}

#get-started h4 {
    color: var(--yellow);
    font-size: 3rem;
}

#get-started h3 {
    color: var(--white);
    font-size: 2rem;
}

#get-started p {
    padding: 0;
}

#btn-start {
    background-color: var(--white);
    color: var(--purple);
    padding: 1rem 5rem;
}

/* ---- */



/* ! Footer */
footer {

    background-color: var(--dark-gray);
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 3rem;
    text-align: center;
    color: var(--white);
}

.footer-container a {
    color: var(--purple);
}

/* ! RESPONSIVE */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    /* intro sect */
    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);

    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);
        align-items: flex-start;

    }

   


    #intro .card:nth-child(2) {
        row-gap: 1rem;
        justify-content: flex-start;
    }

    /* intro sect end */

    /* planning */
    /* ------- */

    /* testimonials */



    #testimonial-card {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        text-align: left;
    }

    #testimonial-card p {
        flex-basis: 60%;
    }

    .img-col {
        flex-basis: 30%;
    }

    /* ------- */

    /* feaures */

    .flex-features {
        display: flex;
        flex-flow: row wrap;

    }

    #features-card {
        width: calc((100% - 2rem) / 2);
        margin: 1rem 0.5rem;
    }

    #features h2 {
        margin-bottom: 2rem;
    }

    /* ------- */

    /* about us */

    .wrapper-us {
        display: flex;
        justify-content: space-between;
    }

    .about-us-txt {
        flex-basis: 50%;
    }

    .about-us-pic {
        flex-basis: 30%;
    }


    /* ------- */

}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1100px;
    }

    /* header nav */

    .hamburger{
        display: none;
    }

    #drp-dwn{
        display: none;
    }

    .main-menu .desktop{
        display: flex;
        
    }


    .overlay{visibility: hidden;}
    


    .main-menu ul li{
        list-style: none;
        

    }

    #btn-nav{
        color: black;
        background-color: var(--white);
        border-radius: 1.5rem;
        padding: 0.5rem 1rem;
    }


    /* intro sect */

    .card-intro-phone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .intro-phone {
        width: 40%;
    }


    .intro-txt {
        width: 50%;
    }

   

    /* ------- */
    /* planning */

    .planning-flex-desk {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #planning-card {
        width: calc((100% - 2rem)/ 2);
    }

    #planning-card-white {
        
        width: calc((100% - 2rem)/ 2);
    }

    

    /* testimonials */
    .img-col{
        flex-basis: 20%;
    }

    .top-testimonials{
        margin: 0 auto;
    }

    /* ----- */



    /* features */

    #features-card {
        width: calc((100% - 3rem) / 3);
        margin: 1rem 0.5rem;
    }

    /* lower sections */
    .get-flex {
        max-width: 700px;
    }

    .footer-container {
        max-width: 700px;
    }

    /* ------- */

}