*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

:root {
    --white: #ffffff;
    --light-blue: #B5DDFF;
    --black: #000000;
    --blue: #0084FD;
    --yellow: #FDC15F;
    --purple: #9792E4;
    --dark-gray: #333333;
}

.debug {
    border: 1px solid red;
    min-height: 50px;
}

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
   
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-width: 350px;
}

.d-flex {
    display: flex;
} 

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

/* ! Header */
header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
}

.main-menu {
    display: none;
}

.main-menu a {
    color: var(--white);
    text-decoration: none;
}

/* ! Main */
#planning, #features, #get-started {
    background-color: var(--purple);
    padding: 2.5rem 3rem;
}


/* intro section */
#intro,#testimonials, #about-us {
    padding: 2.5rem 3rem;
}

.card {
    background-color: var(--light-blue);
    margin-bottom: 1.5rem;
    padding: 1.5rem 3rem 0 3rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1.5rem;
    min-width: 30px;
}

.btn{
    color:var(--white);
    background-color: var(--blue);
    border-radius: 2rem;
    padding: 0.5rem 3rem;
    text-decoration: none;
}

.card img{
    width: 20rem;

}

h3{
    color: var(--blue);
    font-size: 1.7rem;
}

p{
    padding-bottom: 1.5rem;
    
}

#intro p{
    text-align: center;
}

.icone-intro{
    color: var(--blue);
    font-size: 4rem;
}

/* fine intro */

/* strategic section */

#planning-card{
    background-color: var(--purple);
    color: var(--white);
    padding: 0;
    align-items: flex-start;
}

#planning h3{
    color: var(--white);
    text-align: left;
    margin-bottom: 1rem;
}

#planning-card-white {
    color: var(--black);
    background-color: var(--white);
    align-items: center;
    text-align: center;
}
#planning-card-white > h3{
    color: var(--black);
}

.btn-arrow{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--black);
    line-height: 3rem;
}

/* fine planning */

/* testimonials */

#testimonials h3{
    color: var(--purple);
}


#testimonial-card{
    background-color: var(--purple);
    color: var(--white);
    padding: 1.5rem ;
    text-align: center;
}


#testimonial-card p{
    padding: 0;
}
.img-container-testimonials{
    width: 10rem;
    height: 10rem;

   background-size: cover;
   background-position: center;
    border-radius: 50%;
}

.test-one{
    background-image:url('../img/testimonial1.jpg');
}

.test-two{
    background-image:url('../img/testimonial2.jpg');
}


.test-three{
    background-image:url('../img/testimonial3.jpg');
}

/* ------ */

/* features */
#features h2{
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
}

#features-card{
    margin-top: 3rem;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    background-color: var(--white);
}

#features-card h3, h4{
    color: var(--purple);
}

#features-card h3{
    font-size: 4rem;
}

#features-card h4{
    font-size: 1.5rem;
}

#features-card p{
    padding: 0;
}

#btn-features{
    background-color: var(--purple);
}

/* fine features */

/* about us */





/* ! Footer */
footer {
    background-color: var(--dark-gray);
}

/* ! RESPONSIVE */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);
    }
}